
<div class="clearfix">
    <button class="btn btn-link d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#doc-sidebar-nav" aria-controls="doc-sidebar-nav" aria-expanded="false"
            aria-label="Toggle docs navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-width"
             viewBox="0 0 16 16">
            <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>
    <span class="mobile-sidebar-title">Guide pages</span>
</div>

<nav class="doc-links collapse clearfix nav-fix" id="doc-sidebar-nav">
    <div class="filter-container">
        <input type="search" id="sidebar-filter" autocomplete="off" placeholder="Filter by title"/>
        <ul class="filter-list"></ul>
    </div>

    <ul class="nav bs-sidenav" style="padding-left: 0">
        <% navItems.forEach(item => { %>
            <li>
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#<%= item.collapseId %>" aria-expanded="false">
                    <a href="#"><%= item.title %></a>
                </button>
                <div class="collapse" id="<%= item.collapseId %>">
                    <ul class="btn-toggle-nav">
                        <% item.links.forEach(link => { %>
                            <% if(link.links && link.links.length) { %>
                                <li>
                                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                                            data-bs-target="#<%= link.collapseId %>" aria-expanded="false">
                                        <a class="section"><%= link.title %></a>
                                    </button>
                                    <div class="collapse" id="<%= link.collapseId %>">
                                        <ul class="btn-toggle-nav">
                                            <% link.links.forEach(sublink => { %>
                                                <li><a href="<%= sublink.url %>"><%= sublink.title %></a></li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                </li>
                            <% } else { %>
                                <li><a href="<%= link.url %>"><%= link.title %></a></li>
                            <% } %>
                        <% }) %>
                    </ul>
                </div>
            </li>
        <% }) %>
    </ul>
</nav>

<script type="module">
  import {onRender, onLeave} from 'postdoc/page';

  onRender((url) => {
    const activeLink = document.querySelector(`.nav .btn-toggle-nav a[href$="${url.pathname}"]`);

    document.querySelectorAll('.nav .collapse.show').forEach(function(collapse) {
      collapse.classList.remove('show');

      const button = collapse.previousElementSibling;
      if (button) {
        button.classList.add('collapsed');
        button.setAttribute('aria-expanded', 'false');
      }
    });


    if (activeLink) {
      activeLink.classList.add('active');

      let parentElement = activeLink.parentElement;
      while (parentElement) {
        if (parentElement.matches('.collapse')) {
          parentElement.classList.add('show');
          const parentButton = parentElement.previousElementSibling;
          if (parentButton && parentButton.matches('button')) {
            parentButton.classList.remove('collapsed');
            parentButton.setAttribute('aria-expanded', 'true');
          }
        }
        parentElement = parentElement.parentElement; // Move up to the next parent element
      }
    }
  }, {forPage: /(\/guide\/)/});

</script>