<%
  function activeLink(urlPart) {
    return page.url.includes(urlPart) ? 'active' : '';
  }


    // Get the button and menu elements
    const releaseButton = document.getElementById('releaseVersionButton');
    const releaseMenu = document.getElementById('releaseVersionMenu');
    const arrowIcon = document.getElementById('arrowIcon').querySelector('path');
  
    // Add a click event listener to the button
    releaseButton.addEventListener('click', function() {
      // Toggle menu visibility
      if (releaseMenu.style.display === 'none') {
        releaseMenu.style.display = 'block';
        // Change the arrow to point upwards
        arrowIcon.setAttribute('d', 'M1.41421 7.01562H10.5858C11.4767 7.01562 11.9229 5.93848 11.2929 5.30852L6.70711 0.72273C6.31658 0.33221 5.68342 0.33221 5.29289 0.72273L0.707105 5.30852C0.0771403 5.93848 0.523309 7.01562 1.41421 7.01562Z'); // Up arrow
      } else {
        releaseMenu.style.display = 'none';
        // Change the arrow back to pointing downwards
        arrowIcon.setAttribute('d', 'M10.5858 0.984375H1.41421C0.523309 0.984375 0.0771403 2.06152 0.707105 2.69148L5.29289 7.27727C5.68342 7.66779 6.31658 7.66779 6.70711 7.27727L11.2929 2.69148C11.9229 2.06152 11.4767 0.984375 10.5858 0.984375Z'); // Down arrow
      }
    });

  
%>
  <header class="header" id="header">
    <nav class="navigation" aria-label="navigation">
      <div class="navigation__logo">
        <a href="/" aria-label="home">
          <svg role="img" viewBox="0 0 253 59" fill="none" xmlns="http://www.w3.org/2000/svg"
            shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
            <title>Nightwatch logo of an owl</title>
            <path
              d="M10.3226 54.0006L9.3716 53.0469L14.5778 47.824L6 39.2249L6.95567 38.2712L16.4845 47.824L10.3226 54.0006Z"
              fill="white" />
            <path d="M52.0007 47.1477H15.527V48.5001H52.0007V47.1477Z" fill="white" />
            <path
              d="M18.6078 5.9192C18.5926 5.78322 18.6123 5.64561 18.6651 5.51945C18.718 5.39329 18.8021 5.28278 18.9095 5.19842C19.0169 5.11406 19.1441 5.05866 19.2789 5.03749C19.4137 5.01632 19.5517 5.03008 19.6797 5.07747L27.2483 7.87546L19.6518 15.2248L18.6078 5.9192Z"
              fill="#502D17" />
            <path
              d="M45.3737 5.91947C45.3894 5.7836 45.3701 5.64597 45.3176 5.51974C45.2651 5.3935 45.1812 5.28288 45.0739 5.19844C44.9666 5.114 44.8395 5.05857 44.7047 5.03744C44.5699 5.0163 44.432 5.03018 44.3041 5.07774L36.7332 7.87573L44.332 15.2251L45.3737 5.91947Z"
              fill="#502D17" />
            <path
              d="M32.0797 46.2721C42.1709 46.2721 50.3514 39.2309 50.3514 30.5451C50.3514 21.8593 42.1709 14.8181 32.0797 14.8181C21.9885 14.8181 13.808 21.8593 13.808 30.5451C13.808 39.2309 21.9885 46.2721 32.0797 46.2721Z"
              fill="#794422" />
            <path
              d="M47.1983 26.2414C47.1983 37.9696 40.4296 47.4781 32.0843 47.4781C23.739 47.4781 16.9702 37.9696 16.9702 26.2414C16.9702 14.5132 23.739 5 32.0843 5C40.4296 5 47.1983 14.5178 47.1983 26.2414Z"
              fill="#502D17" />
            <path
              d="M25.9762 27.0805C29.8698 27.0805 33.0263 23.4748 33.0263 19.0269C33.0263 14.5791 29.8698 10.9734 25.9762 10.9734C22.0825 10.9734 18.926 14.5791 18.926 19.0269C18.926 23.4748 22.0825 27.0805 25.9762 27.0805Z"
              fill="white" />
            <path
              d="M42.6106 35.0265C42.6106 40.4523 37.895 44.8521 32.0796 44.8521C26.2641 44.8521 21.5602 40.464 21.5602 35.0265C21.5602 29.5891 26.2734 25.1963 32.0889 25.1963C37.9043 25.1963 42.6106 29.5961 42.6106 35.0265Z"
              fill="white" />
            <path
              d="M45.1011 19.0124C45.1011 23.4612 41.9434 27.0659 38.0487 27.0659C34.1539 27.0659 31.0009 23.4705 31.0009 19.0124C31.0009 14.5543 34.1562 10.9565 38.0487 10.9565C41.9411 10.9565 45.1011 14.5823 45.1011 19.0124Z"
              fill="white" />
            <path
              d="M31.5012 21.7668C31.8914 21.6142 32.3253 21.6184 32.7126 21.7784C33.8304 22.2119 34.8218 22.9198 35.5959 23.8373C35.7166 23.9886 35.7872 24.1739 35.7981 24.3674C35.8089 24.5608 35.7594 24.7529 35.6564 24.9168C34.854 26.1655 33.8293 27.2554 32.6336 28.1322C32.4847 28.2455 32.303 28.3068 32.1162 28.3068C31.9294 28.3068 31.7477 28.2455 31.5988 28.1322C30.4019 27.2567 29.3771 26.1665 28.576 24.9168C28.4723 24.7551 28.4224 24.5646 28.4337 24.3726C28.445 24.1807 28.5168 23.9973 28.6388 23.8489C29.3877 22.9082 30.3769 22.1886 31.5012 21.7668Z"
              fill="#FF7F2B" />
            <path
              d="M31.3785 30.0439C31.3785 30.4187 31.23 30.7781 30.9658 31.0431C30.7015 31.3081 30.3431 31.4569 29.9694 31.4569C29.5957 31.4569 29.2373 31.3081 28.973 31.0431C28.7088 30.7781 28.5603 30.4187 28.5603 30.0439H31.3785Z"
              fill="#D6D6D6" />
            <path
              d="M35.6593 30.0439C35.6593 30.4187 35.5108 30.7781 35.2465 31.0431C34.9823 31.3081 34.6239 31.4569 34.2502 31.4569C33.8764 31.4569 33.518 31.3081 33.2538 31.0431C32.9895 30.7781 32.8411 30.4187 32.8411 30.0439H35.6593Z"
              fill="#D6D6D6" />
            <path
              d="M29.2346 32.8608C29.2346 33.2356 29.0861 33.595 28.8219 33.86C28.5576 34.125 28.1992 34.2738 27.8255 34.2738C27.4518 34.2738 27.0934 34.125 26.8291 33.86C26.5648 33.595 26.4164 33.2356 26.4164 32.8608H29.2346Z"
              fill="#D6D6D6" />
            <path
              d="M33.5209 32.8608C33.5209 33.2356 33.3725 33.595 33.1082 33.86C32.844 34.125 32.4856 34.2738 32.1119 34.2738C31.7381 34.2738 31.3797 34.125 31.1155 33.86C30.8512 33.595 30.7028 33.2356 30.7028 32.8608H33.5209Z"
              fill="#D6D6D6" />
            <path
              d="M37.8004 32.8608C37.8004 33.2356 37.6519 33.595 37.3877 33.86C37.1234 34.125 36.765 34.2738 36.3913 34.2738C36.0176 34.2738 35.6591 34.125 35.3949 33.86C35.1306 33.595 34.9822 33.2356 34.9822 32.8608H37.8004Z"
              fill="#D6D6D6" />
            <path
              d="M27.0991 35.6189C27.0991 35.9936 26.9506 36.353 26.6864 36.618C26.4221 36.883 26.0637 37.0319 25.69 37.0319C25.3163 37.0319 24.9579 36.883 24.6936 36.618C24.4293 36.353 24.2809 35.9936 24.2809 35.6189H27.0991Z"
              fill="#D6D6D6" />
            <path
              d="M31.3785 35.6189C31.3785 35.9936 31.23 36.353 30.9658 36.618C30.7015 36.883 30.3431 37.0319 29.9694 37.0319C29.5957 37.0319 29.2373 36.883 28.973 36.618C28.7088 36.353 28.5603 35.9936 28.5603 35.6189H31.3785Z"
              fill="#D6D6D6" />
            <path
              d="M35.6593 35.6189C35.6593 35.9936 35.5108 36.353 35.2465 36.618C34.9823 36.883 34.6239 37.0319 34.2502 37.0319C33.8764 37.0319 33.518 36.883 33.2538 36.618C32.9895 36.353 32.8411 35.9936 32.8411 35.6189H35.6593Z"
              fill="#D6D6D6" />
            <path
              d="M39.9438 35.6189C39.929 35.984 39.774 36.3292 39.5111 36.5823C39.2483 36.8354 38.898 36.9768 38.5336 36.9768C38.1691 36.9768 37.8188 36.8354 37.556 36.5823C37.2931 36.3292 37.1381 35.984 37.1233 35.6189H39.9438Z"
              fill="#D6D6D6" />
            <path
              d="M29.2346 38.4358C29.2346 38.8105 29.0861 39.1699 28.8219 39.4349C28.5576 39.6999 28.1992 39.8488 27.8255 39.8488C27.4518 39.8488 27.0934 39.6999 26.8291 39.4349C26.5648 39.1699 26.4164 38.8105 26.4164 38.4358H29.2346Z"
              fill="#D6D6D6" />
            <path
              d="M33.5209 38.4358C33.5209 38.8105 33.3725 39.1699 33.1082 39.4349C32.844 39.6999 32.4856 39.8488 32.1119 39.8488C31.7381 39.8488 31.3797 39.6999 31.1155 39.4349C30.8512 39.1699 30.7028 38.8105 30.7028 38.4358H33.5209Z"
              fill="#D6D6D6" />
            <path
              d="M37.8004 38.4358C37.8004 38.8105 37.6519 39.1699 37.3877 39.4349C37.1234 39.6999 36.765 39.8488 36.3913 39.8488C36.0176 39.8488 35.6591 39.6999 35.3949 39.4349C35.1306 39.1699 34.9822 38.8105 34.9822 38.4358H37.8004Z"
              fill="#D6D6D6" />
            <path
              d="M31.3785 41.1912C31.3785 41.5659 31.23 41.9253 30.9658 42.1903C30.7015 42.4553 30.3431 42.6041 29.9694 42.6041C29.5957 42.6041 29.2373 42.4553 28.973 42.1903C28.7088 41.9253 28.5603 41.5659 28.5603 41.1912H31.3785Z"
              fill="#D6D6D6" />
            <path
              d="M35.6593 41.1912C35.6593 41.5659 35.5108 41.9253 35.2465 42.1903C34.9823 42.4553 34.6239 42.6041 34.2502 42.6041C33.8764 42.6041 33.518 42.4553 33.2538 42.1903C32.9895 41.9253 32.8411 41.5659 32.8411 41.1912H35.6593Z"
              fill="#D6D6D6" />
            <path
              d="M26.8976 22.2307C29.1629 22.2307 30.9993 20.3892 30.9993 18.1177C30.9993 15.8461 29.1629 14.0046 26.8976 14.0046C24.6323 14.0046 22.7959 15.8461 22.7959 18.1177C22.7959 20.3892 24.6323 22.2307 26.8976 22.2307Z"
              fill="#C2DDEB" />
            <path
              d="M26.8967 20.6964C28.3144 20.6964 29.4637 19.5439 29.4637 18.1222C29.4637 16.7006 28.3144 15.5481 26.8967 15.5481C25.4789 15.5481 24.3296 16.7006 24.3296 18.1222C24.3296 19.5439 25.4789 20.6964 26.8967 20.6964Z"
              fill="black" />
            <path
              d="M27.5458 18.1241C28.071 18.1241 28.4968 17.6971 28.4968 17.1704C28.4968 16.6438 28.071 16.2168 27.5458 16.2168C27.0205 16.2168 26.5947 16.6438 26.5947 17.1704C26.5947 17.6971 27.0205 18.1241 27.5458 18.1241Z"
              fill="white" />
            <path
              d="M36.9353 22.2354C39.2019 22.2354 41.0394 20.3929 41.0394 18.12C41.0394 15.8472 39.2019 14.0046 36.9353 14.0046C34.6687 14.0046 32.8313 15.8472 32.8313 18.12C32.8313 20.3929 34.6687 22.2354 36.9353 22.2354Z"
              fill="#C2DDEB" />
            <path
              d="M36.9349 20.6964C38.3526 20.6964 39.5019 19.5439 39.5019 18.1222C39.5019 16.7006 38.3526 15.5481 36.9349 15.5481C35.5171 15.5481 34.3678 16.7006 34.3678 18.1222C34.3678 19.5439 35.5171 20.6964 36.9349 20.6964Z"
              fill="black" />
            <path
              d="M37.5798 18.1241C38.105 18.1241 38.5308 17.6971 38.5308 17.1704C38.5308 16.6438 38.105 16.2168 37.5798 16.2168C37.0546 16.2168 36.6288 16.6438 36.6288 17.1704C36.6288 17.6971 37.0546 18.1241 37.5798 18.1241Z"
              fill="white" />
            <path
              d="M40.5923 47.4929C40.5923 48.5795 39.9947 49.4562 39.26 49.4562C38.5252 49.4562 37.9276 48.5795 37.9276 47.4929C37.9276 48.5795 37.33 49.4562 36.5929 49.4562C35.8558 49.4562 35.2605 48.5795 35.2605 47.4929C35.2605 48.5795 34.6653 49.4562 33.9282 49.4562C33.1911 49.4562 32.5958 48.5795 32.5958 47.4929C32.5958 45.961 34.3793 44.7183 36.5813 44.7183C38.7833 44.7183 40.5691 45.961 40.5691 47.4929H40.5923Z"
              fill="#FF7F2B" />
            <path
              d="M31.5028 47.4929C31.5028 48.5795 30.9053 49.4562 30.1705 49.4562C29.4357 49.4562 28.8358 48.5795 28.8358 47.4929C28.8358 48.5795 28.2405 49.4562 27.5034 49.4562C26.7663 49.4562 26.1711 48.5795 26.1711 47.4929C26.1711 48.5795 25.5735 49.4562 24.8387 49.4562C24.1039 49.4562 23.5063 48.5795 23.5063 47.4929C23.5063 45.961 25.2898 44.7183 27.4918 44.7183C29.6938 44.7183 31.4796 45.961 31.4796 47.4929H31.5028Z"
              fill="#FF7F2B" />
            <path
              d="M72.7248 43V17.6944H74.568L85.2432 35.5504L88.0848 40.5808H88.2384C88.2128 39.352 88.1616 38.1232 88.0848 36.8944C88.0336 35.6656 88.008 34.4368 88.008 33.208V17.6944H89.6976V43H87.8544L77.1792 25.144L74.3376 20.1136H74.184C74.2352 21.3168 74.2864 22.5072 74.3376 23.6848C74.3888 24.8624 74.4144 26.0656 74.4144 27.2944V43H72.7248ZM94.2573 43V24.568H95.9469V43H94.2573ZM95.1405 20.1136C94.7309 20.1136 94.3853 19.9728 94.1037 19.6912C93.8221 19.4096 93.6813 19.0256 93.6813 18.5392C93.6813 18.104 93.8221 17.7456 94.1037 17.464C94.3853 17.1824 94.7309 17.0416 95.1405 17.0416C95.5757 17.0416 95.9213 17.1824 96.1773 17.464C96.4589 17.7456 96.5997 18.104 96.5997 18.5392C96.5997 19.0256 96.4589 19.4096 96.1773 19.6912C95.9213 19.9728 95.5757 20.1136 95.1405 20.1136ZM106.373 51.8704C104.044 51.8704 102.2 51.4096 100.844 50.488C99.4867 49.5664 98.8083 48.3248 98.8083 46.7632C98.8083 45.944 99.0515 45.1504 99.5379 44.3824C100.024 43.6144 100.69 42.9232 101.535 42.3088V42.1552C101.074 41.8736 100.69 41.4896 100.383 41.0032C100.076 40.5168 99.9219 39.9152 99.9219 39.1984C99.9219 38.3792 100.152 37.688 100.613 37.1248C101.074 36.536 101.509 36.1008 101.919 35.8192V35.6656C101.356 35.1536 100.831 34.4624 100.344 33.592C99.8579 32.696 99.6147 31.6976 99.6147 30.5968C99.6147 29.3168 99.8963 28.1904 100.46 27.2176C101.048 26.2448 101.829 25.4896 102.802 24.952C103.8 24.3888 104.901 24.1072 106.104 24.1072C106.616 24.1072 107.077 24.1584 107.487 24.2608C107.896 24.3376 108.242 24.44 108.524 24.568H114.783V25.9888H110.482C111.071 26.5008 111.557 27.1664 111.941 27.9856C112.325 28.7792 112.517 29.6624 112.517 30.6352C112.517 31.8896 112.236 33.0032 111.672 33.976C111.109 34.9488 110.341 35.7168 109.368 36.28C108.396 36.8432 107.308 37.1248 106.104 37.1248C105.592 37.1248 105.055 37.0608 104.492 36.9328C103.954 36.8048 103.468 36.6128 103.032 36.3568C102.623 36.6896 102.264 37.0608 101.957 37.4704C101.676 37.88 101.535 38.392 101.535 39.0064C101.535 39.672 101.778 40.248 102.264 40.7344C102.751 41.1952 103.685 41.4256 105.068 41.4256H109.023C111.096 41.4256 112.62 41.7712 113.592 42.4624C114.591 43.128 115.09 44.1904 115.09 45.6496C115.09 46.6992 114.732 47.6976 114.015 48.6448C113.298 49.6176 112.287 50.3984 110.981 50.9872C109.676 51.576 108.14 51.8704 106.373 51.8704ZM106.104 35.7808C106.949 35.7808 107.73 35.5632 108.447 35.128C109.189 34.6928 109.778 34.0912 110.213 33.3232C110.648 32.5296 110.866 31.6208 110.866 30.5968C110.866 29.0352 110.392 27.7936 109.445 26.872C108.524 25.9504 107.41 25.4896 106.104 25.4896C104.799 25.4896 103.672 25.9504 102.725 26.872C101.778 27.768 101.304 29.0096 101.304 30.5968C101.304 31.6208 101.522 32.5296 101.957 33.3232C102.418 34.0912 103.007 34.6928 103.724 35.128C104.466 35.5632 105.26 35.7808 106.104 35.7808ZM106.565 50.488C107.948 50.488 109.138 50.2576 110.136 49.7968C111.16 49.336 111.954 48.7472 112.517 48.0304C113.08 47.3392 113.362 46.6096 113.362 45.8416C113.362 44.8176 112.991 44.088 112.248 43.6528C111.532 43.2432 110.482 43.0384 109.1 43.0384H105.144C104.965 43.0384 104.658 43.0128 104.223 42.9616C103.788 42.9104 103.327 42.8336 102.84 42.7312C101.996 43.2944 101.381 43.9088 100.997 44.5744C100.613 45.2656 100.421 45.944 100.421 46.6096C100.421 47.7616 100.959 48.696 102.034 49.4128C103.109 50.1296 104.62 50.488 106.565 50.488ZM116.369 43V15.3904H118.058V27.448C119.031 26.4752 120.017 25.6816 121.015 25.0672C122.039 24.4272 123.178 24.1072 124.433 24.1072C126.327 24.1072 127.722 24.696 128.618 25.8736C129.54 27.0256 130.001 28.792 130.001 31.1728V43H128.311V31.4032C128.311 29.432 127.978 27.9856 127.313 27.064C126.673 26.1168 125.598 25.6432 124.087 25.6432C122.986 25.6432 121.988 25.9376 121.092 26.5264C120.196 27.0896 119.185 27.9472 118.058 29.0992V43H116.369ZM138.999 43.4608C137.207 43.4608 135.991 42.9488 135.351 41.9248C134.711 40.8752 134.391 39.5312 134.391 37.8928V26.0272H131.511V24.7216L134.429 24.568L134.66 19.2304H136.119V24.568H141.456V26.0272H136.119V38.0464C136.119 39.224 136.324 40.1712 136.733 40.888C137.143 41.6048 137.975 41.9632 139.229 41.9632C139.588 41.9632 139.972 41.912 140.381 41.8096C140.816 41.6816 141.2 41.5408 141.533 41.3872L141.994 42.7696C141.456 42.9488 140.906 43.1024 140.343 43.2304C139.805 43.384 139.357 43.4608 138.999 43.4608ZM146.084 43L140.632 24.568H142.475L145.777 36.5104C146.008 37.3552 146.225 38.1872 146.43 39.0064C146.66 39.8 146.865 40.6064 147.044 41.4256H147.198C147.403 40.6064 147.62 39.8 147.851 39.0064C148.081 38.1872 148.312 37.3552 148.542 36.5104L151.883 24.568H153.918L157.259 36.5104C157.489 37.3552 157.72 38.1872 157.95 39.0064C158.18 39.8 158.411 40.6064 158.641 41.4256H158.795C159 40.6064 159.217 39.8 159.448 39.0064C159.678 38.1872 159.896 37.3552 160.1 36.5104L163.364 24.568H165.092L159.793 43H157.566L154.34 31.5568C154.084 30.6608 153.854 29.7904 153.649 28.9456C153.444 28.0752 153.201 27.192 152.92 26.296H152.766C152.561 27.192 152.331 28.088 152.075 28.984C151.844 29.8544 151.588 30.7376 151.307 31.6336L148.12 43H146.084ZM170.499 43.4608C169.04 43.4608 167.786 43.0512 166.736 42.232C165.687 41.4128 165.162 40.1328 165.162 38.392C165.162 36.344 166.122 34.7952 168.042 33.7456C169.962 32.6704 172.97 31.9024 177.066 31.4416C177.091 30.4944 176.989 29.5856 176.759 28.7152C176.528 27.8192 176.093 27.0768 175.453 26.488C174.839 25.8992 173.917 25.6048 172.688 25.6048C171.459 25.6048 170.333 25.848 169.309 26.3344C168.285 26.8208 167.453 27.2944 166.813 27.7552L166.045 26.488C166.48 26.1808 167.043 25.848 167.735 25.4896C168.426 25.1056 169.207 24.7856 170.077 24.5296C170.973 24.248 171.92 24.1072 172.919 24.1072C174.378 24.1072 175.53 24.4272 176.375 25.0672C177.219 25.7072 177.821 26.5648 178.179 27.64C178.563 28.6896 178.755 29.88 178.755 31.2112V43H177.296L177.143 40.6192H177.027C176.08 41.3616 175.056 42.0272 173.955 42.616C172.855 43.1792 171.703 43.4608 170.499 43.4608ZM170.807 42.0016C171.856 42.0016 172.867 41.7456 173.84 41.2336C174.839 40.7216 175.914 39.9792 177.066 39.0064V32.7472C174.531 33.0544 172.522 33.4512 171.037 33.9376C169.552 34.424 168.49 35.0384 167.85 35.7808C167.21 36.4976 166.89 37.3424 166.89 38.3152C166.89 39.6464 167.274 40.5936 168.042 41.1568C168.835 41.72 169.757 42.0016 170.807 42.0016ZM187.26 43.4608C185.468 43.4608 184.252 42.9488 183.612 41.9248C182.972 40.8752 182.652 39.5312 182.652 37.8928V26.0272H179.772V24.7216L182.69 24.568L182.921 19.2304H184.38V24.568H189.717V26.0272H184.38V38.0464C184.38 39.224 184.585 40.1712 184.994 40.888C185.404 41.6048 186.236 41.9632 187.49 41.9632C187.849 41.9632 188.233 41.912 188.642 41.8096C189.077 41.6816 189.461 41.5408 189.794 41.3872L190.255 42.7696C189.717 42.9488 189.167 43.1024 188.604 43.2304C188.066 43.384 187.618 43.4608 187.26 43.4608ZM197.927 43.4608C196.339 43.4608 194.906 43.0896 193.626 42.3472C192.371 41.5792 191.373 40.4784 190.631 39.0448C189.914 37.5856 189.555 35.8448 189.555 33.8224C189.555 31.7488 189.939 29.9952 190.707 28.5616C191.501 27.1024 192.538 26.0016 193.818 25.2592C195.098 24.4912 196.48 24.1072 197.965 24.1072C199.245 24.1072 200.307 24.3376 201.152 24.7984C201.997 25.2592 202.739 25.784 203.379 26.3728L202.381 27.5632C201.792 27 201.139 26.5392 200.423 26.1808C199.706 25.7968 198.899 25.6048 198.003 25.6048C196.749 25.6048 195.61 25.9504 194.586 26.6416C193.587 27.3328 192.794 28.2928 192.205 29.5216C191.616 30.7504 191.322 32.184 191.322 33.8224C191.322 35.4352 191.591 36.856 192.128 38.0848C192.691 39.288 193.472 40.2352 194.471 40.9264C195.495 41.6176 196.672 41.9632 198.003 41.9632C198.976 41.9632 199.872 41.7584 200.691 41.3488C201.536 40.9136 202.279 40.4144 202.919 39.8512L203.802 41.0416C203.008 41.7328 202.125 42.3088 201.152 42.7696C200.179 43.2304 199.104 43.4608 197.927 43.4608ZM205.653 43V15.3904H207.343V27.448C208.316 26.4752 209.301 25.6816 210.3 25.0672C211.324 24.4272 212.463 24.1072 213.717 24.1072C215.612 24.1072 217.007 24.696 217.903 25.8736C218.825 27.0256 219.285 28.792 219.285 31.1728V43H217.596V31.4032C217.596 29.432 217.263 27.9856 216.597 27.064C215.957 26.1168 214.882 25.6432 213.372 25.6432C212.271 25.6432 211.272 25.9376 210.376 26.5264C209.48 27.0896 208.469 27.9472 207.343 29.0992V43H205.653ZM223.944 43.4608C223.534 43.4608 223.15 43.3072 222.792 43C222.459 42.6928 222.293 42.2704 222.293 41.7328C222.293 41.1696 222.459 40.7344 222.792 40.4272C223.15 40.12 223.534 39.9664 223.944 39.9664C224.379 39.9664 224.75 40.12 225.058 40.4272C225.39 40.7344 225.557 41.1696 225.557 41.7328C225.557 42.2704 225.39 42.6928 225.058 43C224.75 43.3072 224.379 43.4608 223.944 43.4608ZM227.296 51.7936C226.86 51.7936 226.425 51.7424 225.99 51.64C225.555 51.5376 225.196 51.4352 224.915 51.3328L225.337 49.9504C225.568 50.0272 225.849 50.104 226.182 50.1808C226.54 50.2832 226.899 50.3344 227.257 50.3344C228.307 50.3344 228.972 49.9504 229.254 49.1824C229.561 48.44 229.715 47.48 229.715 46.3024V24.568H231.443V46.4176C231.443 50.0016 230.06 51.7936 227.296 51.7936ZM230.56 20.1136C230.15 20.1136 229.804 19.9728 229.523 19.6912C229.241 19.4096 229.1 19.0256 229.1 18.5392C229.1 18.104 229.241 17.7456 229.523 17.464C229.804 17.1824 230.15 17.0416 230.56 17.0416C230.995 17.0416 231.34 17.1824 231.596 17.464C231.878 17.7456 232.019 18.104 232.019 18.5392C232.019 19.0256 231.878 19.4096 231.596 19.6912C231.34 19.9728 230.995 20.1136 230.56 20.1136ZM240.256 43.4608C238.899 43.4608 237.632 43.2176 236.455 42.7312C235.303 42.2192 234.317 41.6176 233.498 40.9264L234.496 39.6592C235.29 40.2992 236.135 40.8496 237.031 41.3104C237.927 41.7712 239.04 42.0016 240.371 42.0016C241.805 42.0016 242.893 41.6432 243.635 40.9264C244.378 40.184 244.749 39.3264 244.749 38.3536C244.749 37.5856 244.519 36.9456 244.058 36.4336C243.597 35.9216 243.021 35.4992 242.33 35.1664C241.664 34.8336 240.973 34.5392 240.256 34.2832C239.335 33.9504 238.426 33.5792 237.53 33.1696C236.659 32.76 235.943 32.2352 235.379 31.5952C234.816 30.9296 234.535 30.072 234.535 29.0224C234.535 27.6656 235.034 26.5136 236.032 25.5664C237.056 24.5936 238.528 24.1072 240.448 24.1072C241.447 24.1072 242.407 24.2864 243.328 24.6448C244.275 25.0032 245.082 25.464 245.747 26.0272L244.826 27.2176C244.186 26.7568 243.52 26.3728 242.829 26.0656C242.138 25.7328 241.331 25.5664 240.41 25.5664C238.976 25.5664 237.914 25.912 237.223 26.6032C236.557 27.2944 236.224 28.0624 236.224 28.9072C236.224 29.5984 236.416 30.1744 236.8 30.6352C237.21 31.096 237.735 31.48 238.375 31.7872C239.04 32.0688 239.731 32.3504 240.448 32.632C241.421 32.9904 242.368 33.3744 243.29 33.784C244.211 34.1936 244.967 34.744 245.555 35.4352C246.17 36.1264 246.477 37.0736 246.477 38.2768C246.477 39.1984 246.234 40.056 245.747 40.8496C245.261 41.6176 244.557 42.2448 243.635 42.7312C242.714 43.2176 241.587 43.4608 240.256 43.4608Z"
              fill="white" />
          </svg>
        </a>
      </div>
      <ul class="navigation-list">
        <li class="<%= activeLink('/guide') %>"><a class="navigation-link <%= activeLink('/guide') %>"
            href="/guide/overview/what-is-nightwatch.html">Guide</a></li>
        <li class="<%= activeLink('/api') %>"><a class="navigation-link <%= activeLink('/api') %>" href="/api/">API</a></li>
        <li class="<%= activeLink('/about') %>"><a class="navigation-link <%= activeLink('/about') %>" href="/about/community/">About</a></li>
        <li class="<%= activeLink('/blog') %>"><a class="navigation-link <%= activeLink('/blog') %>" href="/blog/">Blog</a></li>
        <li class="navigation-link-active-state"></li>
      </ul>
      <ul class="navigation-list social">
        <li>
          <div id="docsearch">
            <svg role="img" width="20" height="20" viewBox="0 0 20 20">
              <title>Search</title>
              <path
                d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z"
                stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
              </path>
            </svg>
          </div>
        </li>
        <li><a href="https://github.com/nightwatchjs/" target="_blank" rel="noopener noreferrer"
            class="navigation-link">
            <svg role="img" viewBox="-2 0 20 16" version="1.1" shape-rendering="geometricPrecision"
              text-rendering="geometricPrecision">
              <title>GitHub</title>
              <path
                d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z">
              </path>
            </svg></a></li>
        <li><a href="https://discord.com/invite/SN8Da2X" target="_blank" rel="noopener noreferrer" class="navigation-link">
            <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="-2 0 135 96"
              shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
              <title>Discord</title>
              <g id="图层_2" data-name="图层 2">
                <g id="Discord_Logos" data-name="Discord Logos">
                  <g id="Discord_Logo_-_Large_-_White" data-name="Discord Logo - Large - White">
                    <path
                      d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z" />
                  </g>
                </g>
              </g>
            </svg>
          </a></li>
          <li class="release-button-action">
            <button type="button" id="releaseVersionButton" aria-controls="releaseVersionMenu" aria-haspopup="true">
              <%= version %>
              <svg id="arrowIcon" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.5858 0.984375H1.41421C0.523309 0.984375 0.0771403 2.06152 0.707105 2.69148L5.29289 7.27727C5.68342 7.66779 6.31658 7.66779 6.70711 7.27727L11.2929 2.69148C11.9229 2.06152 11.4767 0.984375 10.5858 0.984375Z"
                  fill="white" />
              </svg>
            </button>
          
            <ul id="releaseVersionMenu" role="menu" aria-labelledby="releaseVersionButton" style="display: none;">
              <li role="menuitem"><a href="/v26/">Previous 2.6.19</a></li>
              <li role="menuitem"><a href="/v17/">Version 1.7</a></li>
              <li role="menuitem"><a href="/v09/">Version 0.9</a></li>
              <li role="menuitem"><a href="/guide/overview/whats-new.html">All versions</a></li>
            </ul>
          </li>
          
      </ul>
      <button class="navigation-menu-toggle" id="mobileMenuToggle" aria-label="Mobile menu Button">
        <svg viewBox="0 0 12 10" class="hamburger" height="20px" width="20px">
            <path d="M10,2 L2,2" class="bar-1"></path>
            <path d="M2,5 L10,5" class="bar-2"></path>
            <path d="M10,8 L2,8" class="bar-3"></path>
        </svg>
    </button>
    </nav>
  </header>
  <nav class="mobile-navbar-content" aria-label="Mobile Navigation">
    <div class="mobile-navbar-wrapper">
      <ul>
        <li><a href="/guide/overview/what-is-nightwatch.html">Guide</a></li>
        <li><a href="/api/">API</a></li>
        <li><a href="/about/community/">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://github.com/nightwatchjs/">Github</a></li>
        <li><a href="https://discord.com/invite/SN8Da2X">Discord</a></li>
        <li><a href="/guide/overview/whats-new.html">Release Notes <span>(Current version <%= version %>)</span></a></li>
      </ul>
    </div>
  </nav>
